#navbar {
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: thin solid rgba(0, 0, 0, 0.2);
}
.navbar_color {
    background-color: black!important;
}
.navbar_logo {
    height: 70px;
    padding: 1%;
}
.navbar-toggle {
    border: none;
}
.cover {
    min-height: 750px;
    background: url("../img/cover.jpg") center center;
    background-size: cover;
    position: relative;
}