/*Header*/

/*Navbar */
#navbar {
    background-color: rgba(0, 0, 0, 0.25);
    border-bottom: thin solid rgba(0, 0, 0, 0.25);
}
#navbar-collapsed {
    border-top: none;
}
.navbar-toggle {
    border: none;
}
.navbar-color {
    background-color: rgba(0, 0, 0, 1)!important;
}
.navbar-logo {
    height: 100px;
}
.navbar-nav > li > a {
    color: white !important;
}
@media (min-width: 768px) {
    .navbar-nav > li > a {
        line-height: 70px;
    }
}
@media (max-width: 768px) {
    .navbar-logo {
        height: 50px;
    }
    .navbar-nav > li > a {
        font-size: 24px;
    }
}
/*Cover*/
.cover {
    min-height: 750px;
    background: url("../img/cover.jpg") center center;
    background-size: cover;
    position: relative;
}

/*Fin Header */


/* EMPLACEMENTS */

.moduletableemplacements {
    /*background-image: url("../img/bg-trucks2.png");
    background-repeat: repeat;*/
    background: #F0F0F2;
    min-height: 420px;
    padding: 25px 0;
    width: 100%;
}

.moduletableemplacements h2 {
    font-size: 
        color: white;
}
.col-md-2 .emplacements{
    width: 13.661%; 
}

.col-xs-6 .emplacements{
    width:3%;
<<<<<<< HEAD

=======
>>>>>>> 37f0146c564d20b4675dbdc19b9ac4ac84ef69be
}

/* CONCEPT */
.img-circle{
    border:1px solid black;
    max-width: 30%;
    height: auto;

}

